/* Base Styles -------------------- */

* {
    box-sizing: border-box;
}

body {
    // color: $color-text-base;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    // background-image: url(/sass/images/background.jpg);
}

.main-header {
    background-image: url(../images/background.jpg);
    @include center;
    height: 100vh;
    padding-top: 20rem;
}

.resorts {
    background-image: url(../images/resort.jpg);
    @include center;
    height: 100vh;
}
.arrow {
    padding-top: 10rem;
}

h1,
h2 {
    font-family: 'Unlock',
    cursive;
}

h2 {
    @include center;
}

h3 {
    font-size: 1.25em;
    color: $color-text-dark;
    line-height: 1.2;
    margin-bottom: 1.7em;
}

p {
    @include center;
}

img {

    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

ul,
ol {
    margin: 30px 0;
}

li {
    margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a {
    &:link {
        color: $color-link-default;
        text-decoration: none;
    }

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: rgba($color-link-default, .5);
    }
}